.backlogin {
    background-color: #4751F5;
    font-family: 'Inter', sans-serif;
}

.contenedor{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.titulo {
    color: white;
    size: 40px;
    text-align: center;
}

.imguser {
    height: 200px;
    width: 200px;
}

.inputlogin {
    width: 300px;
    padding: 10px 14px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    background-color: #fafafa;
    transition: .2s;
    outline: none;
}

.links {
    color: white;
    text-align: center;
}

.navbar {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: #4751F5;
}

.nvbar-left {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}

.nvbar-left img {
    margin-right: 10px;
}

.nvbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    font-size: 16px;
    padding-right: 10px;
}

.user-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
}

.user-menu {
    position: relative;
}

.menu-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 45px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    list-style: none;
    padding: 0;
    width: 160px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.15);
}

.menu-dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #444;
    font-weight: 500;
}

.menu-dropdown li a:hover {
    background-color: #f0f0f0;
}

.contenedor_principal{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 90px;
    flex-wrap: wrap;
    height: auto;
}

.tarjeta {
    width: 250px;
    height: 300px;
    background: #5564FC;
    border-radius: 15px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.20);
}

.cardicon {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}

.cardnom {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding-top: 15px;
}

