<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entregas</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="bodyentrega">
    <div class="contsalir">
        <a href="/principal"><img src="/img/salida.png" class="iconsalir" alt="salir"></a>
    </div>
    <div class="contenedorentrega">
        <div class="tarjetaentrega">
            <h2 class="subtentrega">Registro de Entrega</h2>
            <img src="/img/barras.png" class="entregaicon" id="barras" alt="barras">
            <h4 class="subtentrega">Pon el carnet frente a la camara</h4>
            <h6 class="subtentrega">¿Problemas con el carnet?</h6>
            <a class="cardnom" href="/entrega">Usar huella digital</a>
        </div>
    </div>

    <div id="status" class="modal">
        <div class="modal-content">
            <p>Lectura realizada con éxito.<br>¿En qué estado desea la captura?</p>

            <button id="btnCorrecto">Correcto</button>
            <button id="btnIncorrecto">Incorrecto</button>
        </div>
    </div>

    <script>
        document.getElementById("barras").onclick = function () {
            document.getElementById("status").style.display = "flex";
        }

        document.getElementById("btnCorrecto").onclick = function () {
            window.location.href = "/bien";
        }

        document.getElementById("btnIncorrecto").onclick = function () {
            window.location.href = "/mal";
        }
    </script>
</body>
</html>