<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="bg-app">

<nav class="navbar-app">
    <span>Inventario</span>
</nav>

<div class="contenedor grid">
    <div class="card-inventario">
        <h3>Stock actual</h3>
        <p class="valor">250</p>
    </div>

    <div class="card-inventario">
        <h3>Consumido hoy</h3>
        <p class="valor">48</p>
    </div>

    <div class="card-inventario">
        <h3>Disponible</h3>
        <p class="valor">202</p>
    </div>
</div>

</body>
</html>
