<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contrase침a</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body class="backlogin">
    <div class="contenedor">
        <h1 class="titulo">Recuperar Contrase침a</h1>
        <input type="email" class="inputlogin" id="emailtxt" placeholder="Ingresa tu correo electr칩nico">
        <button class="btn btn-primary" type="submit" href="#">Enviar enlace de recuperaci칩n</button>
    </div>
    
</body>
</html>